.weather {
  @extend %section;
  margin-left: 50px;
  &__header {
    @extend %sectionHeader;
    padding: 13px 20px;
  }
  &__infoRow {
    @include alignCenter;
    margin-top: 5px;
    font-size: 1.2857rem;
  }
  &__temp {
    font-size: 2.5714rem;
    font-weight: bold;
  }
  &__icon {
    margin: 0px 15px;
    height: max-content;
    text-align: center;
    &_marginLeftRigt10px {
      margin: 0px 15px;
    }
    &_marginTopBottom10px {
      margin: 10px 0px;
    }
  }
  &__humidity {
    margin: 0px 15px;
  }
  &__daily {
    @include wrap;
    padding: 10px 20px;
    height: 415px;
    width: 100%;
  }
  &__day {
    width: calc(100% / 4);
    height: 50%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    &:hover {
      border: solid black 1px;
      border-radius: 5px;
    }
  }
  &__day-week {
    width: 100%;
  }
  &__description {
    margin-top: 10px;
  }
}
