<div class="contacts">
  <h2 class="contacts__title">Contacts</h2>
  <div class="contacts__contaiter">
    <article class="contacts__appeal">
      <h2 class="contacts__appeal-title">Appeals</h2>
      <div class="contacts__appeal-desc">
        if you have a question - write to us mobilehill@gmail.com. We we will
        try to help you!
      </div>
      <img
        alt="logo"
        class="contacts__appeal-logo"
        src="../../../../assets/img/contacts/contacts1.png"
      />
      <fa-icon
        class="contacts__appeal-icon"
        [icon]="faQuestionCircle"
        size="6x"
      ></fa-icon>
    </article>
    <article class="contacts__contact">
      <h2 class="contacts__contact-title">Our phone</h2>
      <div class="contacts__contact-icon">
        <fa-icon [icon]="faMobileAlt" size="5x"></fa-icon>
      </div>
      <div class="contacts__contact-container">
        <p class="contacts__contact-phone">+1 (267) 759-9000</p>
        <p class="contacts__contact-desc">
          calls are accepted daily from 10.00 to 19.00
        </p>
      </div>
    </article>
  </div>
  <article class="contacts__adress">
    <div class="contacts__adress-title">Address</div>
    <div class="contacts__adress-desc">
      41 University Drive, Suite 202, Newtown, PA 18940, US
    </div>
    <img
      alt="logo"
      class="contacts__adress-logo"
      src="../../../../assets/img/contacts/contacts2.png"
    />
    <div class="contacts__adress-icon">
      <fa-icon [icon]="faAddressBook" size="6x"></fa-icon>
    </div>
  </article>
</div>
