$font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 14px;
$sectionHeight: 600px;
$sectionWidth: 500px;
$sectionBorder: 1px solid rgba(255, 255, 255, 0.2);
$sectionbgColor: #222227;

@mixin justifyCenter {
  display: flex;
  justify-content: center;
}
@mixin alignCenter {
  display: flex;
  align-items: center;
}
@mixin wrap {
  display: flex;
  flex-wrap: wrap;
}

%section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: $sectionWidth;
  height: $sectionHeight;
  border: $sectionBorder;
  background-color: $sectionbgColor;
}
%sectionHeader {
  width: 100%;
  border-bottom: $sectionBorder;
}

@import "common";
@import "calendar";
@import "scheduler";
@import "weather";
@import "adaptiv";
