<article class="card">
  <a class="card__image-container" routerLink="/main/{{ card.id }}">
    <img class="card__image" alt="img" src="{{ card.images[0] }}" />
  </a>

  <div class="card__name">{{ card.name }}</div>

  <div class="card__container">
    <span class="card__price">{{ card.price }}</span>
    <button
      class="card__button-basket"
      (click)="addProduct(card)"
      *ngIf="cardsService.getInBasket(card.id) < card.amount; else max"
    >
      В корзину
    </button>
    <ng-template #max>
      <div class="card__max-value">Max available value</div>
    </ng-template>
  </div>
</article>
