.clients {
  width: 100%;
}

.clients-slider__slide img:hover {
  opacity: 0.8;
}

.clients-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

.clients-slider__slide {
  position: relative;
  height: 100%;
  display: none;
}

.clients-slider__slide img {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.clients-slider__input {
  display: none;
}

.clients-slider__arrow label {
  display: none;
  opacity: 0.1;
  cursor: pointer;
}
.clients-slider__arrow label:hover {
  opacity: 1;
}

#clients-slider__input_1:checked ~ .clients-slider__slide_first,
#clients-slider__input_1:checked ~ .clients-slider__slide_second,
#clients-slider__input_1:checked ~ .clients-slider__slide_third,
#clients-slider__input_1:checked ~ .clients-slider__slide_fouth,
#clients-slider__input_1:checked ~ .clients-slider__slide_fifth,
#clients-slider__input_2:checked ~ .clients-slider__slide_sixth {
  display: block;
}

#clients-slider__input_1:checked
  ~ .clients-slider__arrow_next
  label:nth-child(2),
#clients-slider__input_2:checked
  ~ .clients-slider__arrow_next
  label:nth-child(1) {
  display: block;
}

#clients-slider__input_1:checked
  ~ .clients-slider__arrow_prev
  label:nth-child(2),
#clients-slider__input_2:checked
  ~ .clients-slider__arrow_prev
  label:nth-child(1) {
  display: block;
}
