.promo {
  overflow: hidden;
  position: relative;
}

body .promo .promo__section {
  padding-right: 0px;
}
.promo__section {
  width: 45%;
}

.promo__logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
}

.promo__img {
  display: block;
  width: 100%;
  height: auto;
}
