.filter {
  padding-left: 25px;
}

.filter__form {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Biryani", sans-serif;
  font-size: 14px;
  &-title {
  }
  &-parametr {
    margin-top: 20px;

    &-title {
      font-size: 13px;
      font-weight: bold;
      color: black;
    }
    &-checkbox {
      display: flex;
      width: 100%;
      align-items: baseline;
    }
    &-input {
      &[type="number"] {
        max-width: 45%;
        padding-left: 5px;
      }
      outline: none;
    }
    &-label {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
