<section class="filter">
  <form class="filter__form">
    <h3 class="filter__form-title">Фильтр</h3>
    <div class="filter__form-checkbox">
      <input
        class="filter__form-input"
        type="checkbox"
        id="cheap"
        name="cheap"
        value="cheap"
      />
      <label class="filter__form-label" for="cheap"> Бюджетная </label>
    </div>
    <div class="filter__form-checkbox">
      <input
        class="filter__form-input"
        type="checkbox"
        id="optimal"
        name="optimal"
        value="optimal"
      />
      <label class="filter__form-label" for="optimal"> Средняя </label>
    </div>
    <div class="filter__form-checkbox">
      <input
        class="filter__form-input"
        type="checkbox"
        id="premium"
        name="premium"
        value="premium"
      />
      <label class="filter__form-label" for="premium"> Премиум </label>
    </div>
  </form>
</section>
