* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registration {
  margin: 10px 0px 0px 15px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 520px;
}
.container {
  display: flex;
  flex-direction: column;
}
.container__labels,
.container__inputs {
  display: flex;
  justify-content: space-between;
}

.registrationForm__label,
.registrationForm__input {
  width: 45%;
}

.container__inputs_column{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.registrationForm__input_radio{
    
}