<div class="header__container">
  <a routerLink="/" class="header__logo">
    <img
      alt="logo"
      class="header__logo-image"
      src="/assets/img/shop/logo.png"
    />
  </a>

  <nav class="header__menu">
    <ul class="header__menu-list">
      <li class="header__menu-list-item">
        <a
          class="header__menu-list-item-link"
          routerLink="/main"
          routerLinkActive="header__menu-list-item-link_active"
          >Main</a
        >
      </li>
      <li class="header__menu-list-item">
        <a
          class="header__menu-list-item-link"
          routerLink="/about"
          routerLinkActive="header__menu-list-item-link_active"
          >About</a
        >
      </li>
      <li class="header__menu-list-item">
        <a
          class="header__menu-list-item-link"
          routerLink="/contacts"
          routerLinkActive="header__menu-list-item-link_active"
          >Contacts</a
        >
      </li>
    </ul>
    <ul class="header__menu-list">
      <li class="header__menu-list-item">
        <a
          class="header__menu-list-item-link"
          routerLinkActive="header__menu-list-item-link_active"
          routerLink="/basket"
          ><fa-icon [icon]="faShoppingCart" size="lg"></fa-icon
        ></a>
      </li>
      <li class="header__menu-list-item">
        <a
          class="header__menu-list-item-link"
          routerLinkActive="header__menu-list-item-link_active"
          routerLink="/admin"
          >Admin</a
        >
      </li>
    </ul>
  </nav>
</div>
