
<header class="header">
  <h1 class="header__title">
    <a class="link header__title-link" routerLink="/">Mobile Hill Admin</a>
  </h1>
  <nav class="header__menu" *ngIf="auth.isAuthenticated()">
    <ul class="header__menu-list">
      <li class="header__menu-list-item">
        <a
          class="link header__menu-list-item-link"
          routerLinkActive="header__menu-list-item-link_active"
          [routerLink]="['/admin', 'dashboard']"
          >Dashboard</a
        >
      </li>
      <li
        class="header__menu-list-item"
      >
        <a
          class="link header__menu-list-item-link"
          routerLinkActive="header__menu-list-item-link_active"
          [routerLink]="['/admin', 'create']"
          >Create</a
        >
      </li>
      <li
        class="header__menu-list-item"
      >
        <a
          class="link header__menu-list-item-link"
          routerLinkActive="header__menu-list-item-link_active"
          [routerLink]="['/admin', 'orders']"
          >Orders</a
        >
      </li>
      <li class="header__menu-list-item">
        <a
          class="link header__menu-list-item-link"
          [routerLink]="['/admin', 'login']"
          (click)="logout($event)"
          >Exit</a
        >
      </li>
    </ul>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
