.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  color: #eee;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 600px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.calendar__header {
  display: flex;
  width: 100%;
  height: 185px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.calendar__clock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  padding: 20px;
}

.calendar__clockTime {
  font-size: 2.8571rem;
}

.calendar__clockDate {
  margin-top: 10px;
  color: #b3e6ff;
  cursor: pointer;
}

.calendar__clockDate:hover {
  color: grey;
}

.calendar__settings {
  width: 60%;
  padding: 20px;
  padding-left: 0px;
}

.settings__days {
  display: flex;
  margin-bottom: 10px;
}

.settings__lastDays {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.settings__nextDays {
  display: flex;
  align-items: center;
}

.settings__holiday {
  margin-top: 10px;
}

.settings__label {
  margin-right: 5px;
}

.settings__scheduler {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.calendar__date {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.calendar__dateContainer {
  width: calc(5 * (100% / 7));
  padding: 0px 20px;
}

.calendar__dateDay {
  width: 15%;
  text-align: center;
}

.calendar__dateMonth {
  margin-left: 10px;
  width: 30%;
}

.calendar__dateYear {
  margin-left: 10px;
  width: 20%;
  text-align: center;
}

.calendar__dateControls {
  display: flex;
  justify-content: right;
  width: calc(2 * (100% / 7));
  text-align: center;
}

.calendar__dateControlsArrow {
  display: inline-block;
  width: calc(100% / 2);
}

.calendar__dateControlsArrow i:hover {
  color: grey;
  cursor: pointer;
}

.calendar__daysOfWeek {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
}

.calendar__daysOfWeekDay {
  width: calc(100% / 7);
  text-align: center;
}

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  padding: 0px 20px;
}

.calendar__day_holiday {
  color: red;
}

.calendar__day {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  height: 50px;
}

.calendar__day:hover {
  border: 2px solid #777;
  cursor: pointer;
}

.calendar__day_today {
  outline: 2px solid black;
  outline-offset: -5px;
  font-weight: bold;
  background-color: #2997cc;
}

.calendar__day_prev-mounth-day,
.calendar__day_next-mounth-day {
  opacity: 0.5;
}

.calendar__day_to-do::after {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 10px;
  height: 10px;
  border: transparent solid 2px;
  border-radius: 100%;
  background-color: green;
  content: "";
}
