* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input,
select {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

option {
  background: #222227;
}

label {
  cursor: pointer;
}

button .fa-trash,
button .fa-edit,
button .fa-check,
button .fa-times {
  display: flex;
  height: 100%;
  align-items: center;
}
