<div class="contacts">
  <h2 class="contacts__title">Контакты</h2>
  <div class="contacts__contaiter">
    <article class="contacts__appeal">
      <div class="contacts__appeal-title">Обращения</div>
      <div class="contacts__appeal-desc">
        если у вас возник вопрос - напишите нам mobilehill@gmail.com. Мы
        постараемся вам помочь!
      </div>
      <img
        alt="logo"
        class="contacts__appeal-logo"
        src="../../../../assets/img/contacts/contacts1.png"
      />
      <fa-icon
        class="contacts__appeal-icon"
        [icon]="faQuestionCircle"
        size="6x"
      ></fa-icon>
    </article>
    <article class="contacts__contact">
      <div class="contacts__contact-title">Наш телефон</div>
      <div class="contacts__contact-icon">
        <fa-icon [icon]="faMobileAlt" size="5x"></fa-icon>
      </div>
      <div class="contacts__contact-desc">
        +77 (077) 777-77-77 звонки принимаются ежедневно с 10.00 до 19.00
      </div>
    </article>
  </div>
  <article class="contacts__adress">
    <div class="contacts__adress-title">Юридический адрес</div>
    <div class="contacts__adress-desc">222222, ввв ленинград, ввв точка ру</div>
    <img
      alt="logo"
      class="contacts__adress-logo"
      src="../../../../assets/img/contacts/contacts2.png"
    />
    <div class="contacts__adress-icon">
      <fa-icon [icon]="faAddressBook" size="6x"></fa-icon>
    </div>
  </article>
</div>
