<section class="sort">
  <form class="sort__form">
    <h3 class="sort__form-title">Сортировать по:</h3>
    <div class="sort__form-container">
      <div class="sort__form-checkbox">
        <input
          class="sort__form-input"
          type="radio"
          id="alphabet"
          name="sort"
          value="alphabet"
          defaultChecked
        />
        <label class="sort__form-label" for="alphabet"> Названию </label>
      </div>
      <div class="sort__form-checkbox">
        <input
          class="sort__form-input"
          type="radio"
          id="price"
          name="sort"
          value="price"
        />
        <label class="sort__form-label" for="price"> Цене </label>
      </div>
      <div class="sort__form-checkbox">
        <input
          class="sort__form-input"
          type="radio"
          id="count"
          name="sort"
          value="count"
        />
        <label class="sort__form-label" for="count"> Количеству </label>
      </div>
      <div class="sort__form-checkbox">
        <input
          class="sort__form-input"
          type="radio"
          id="date"
          name="sort"
          value="date"
        />
        <label class="sort__form-label" for="date"> Дате </label>
      </div>
    </div>
  </form>
</section>
